/* Global Styles ************************************************************************/
html, body {
    width: 100%;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif; 
    color:#463A34;
    background-color: #CAFFD0;
}
@font-face {
    font-family: 'Frente';
    src: url('webfonts/FrenteH1-Regular-webfont.eot');
    src: url('webfonts/FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/FrenteH1-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a {
    text-decoration: none;
}

/* Header Styles ***********************************************************************/
header {
    background: #FF4400;
    padding: 20px 0;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}
.header-box {
    width: 950px;
    margin: 0 auto;
}
.title-box {
    display: inline-block;
}
h1, h3 {
    font-family: 'Frente';
}
h1 {
    font-size: 6em;
    color: #CAFFD0;
    text-shadow: 2px 2px 2px #463A34;
}
h2 {
    font-variant: small-caps;
    font-size: 1.5em;
    text-align: center;
}
nav {
    float: right;
}
nav li {
    display: inline-block;
    
}
nav li img {
    height: 48px;
    width: auto;
    padding-left: 25px;
}

/* Main Text Styles *******************************************************************/
main {
    padding-top: 220px;
    width: 60%;
    margin: 0 auto;
}
.text-box {
    width: 100%;
}
.text-box h2 {
    margin: 20px 0;
}
.your-text {
    background: #463A34;
    color: #F5FFFF;
    font-size: 2em;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.my-text, .portfolio-box {
    background: #F5FFFF;
    padding: 7px 10px;
    border: 3px solid #463A34;
    border-radius: 5px;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.my-text::after {
    content: '';
    display: table;
    clear: both;
}
.screenshot {
    float: left;
    margin: 0 20px 20px 20px;
    max-width: 100%;
}
#portfolio {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-box {
    width: 500px;
}

/* Image Styles ***********************************************************************/
.image-box {
    float: right;
}
/* Responsive Styles ******************************************************************/
@media only screen and (max-width: 1300px) {
    h1 {
        font-size: 3em;
    }
}
@media only screen and (max-width: 900px) {
    .header-box, main {
        width: 80%;
    }
    nav li {
        display: block;
    }
}


/* Utility Styles *********************************************************************/
.hidden {
    display: none!important;
}