/* Global Styles ************************************************************************/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif; 
    color: #463A34;
    background-color: #CAFFD0;
}
@font-face {
    font-family: 'Frente';
    src: url('webfonts/FrenteH1-Regular-webfont.eot');
    src: url('webfonts/FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/FrenteH1-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Header Styles ***********************************************************************/
header {
    background: #FF4400;
    padding: 20px 0;
    margin-bottom: 30px;
}
.header-box {
    width: 950px;
    max-width: 60%;
    margin: 0 auto;
}
.title-box {
    display: inline-block;
}
h1, h3 {
    font-family: 'Frente';
}
h1 {
    font-size: 6em;
    color: #CAFFD0;
    text-shadow: 2px 2px 2px #463A34;
}
nav {
    float: right;
}
nav li {
    display: inline-block;
    
}
nav li img {
    height: 64px;
    width: auto;
    padding-left: 25px;
}

/* Main Text Styles *******************************************************************/
main {
 width: 60%;
 margin: 0 auto;
}
.text-box {
    width: 70%;
    display: inline-block;
}
.your-text {
    background: #463A34;
    color: #F5FFFF;
    font-size: 2em;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.my-text {
    background: #F5FFFF;
}


/* Image Styles ***********************************************************************/
.image-box {
    float: right;
}

/* Utility Styles *********************************************************************/
.hidden {
    display: none;
}